/* Normalize */
body {
    margin: 0;
}

/*General*/
.link{
    cursor: pointer;
}
.sidebar>.link:hover{
    background-color: darkgray;
}
/*===Side Bar===*/
.sidebar {
    position: fixed;
    height: 100%;
    background-color: #fff;
    width: 13.5vw;
    padding: 10px 0 0 0;
    border-right: 1px darkgray solid;
}

.toggle {
    background-color: #dc412e;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 0 0 1.5vw;
    position: fixed;
    z-index: 2;
}
.sidebar>.header{
    margin-top: 13vh;
    padding: 0 0 0 1.5vw;
}
.sidebar>.item{
padding: 10px 0 10px 1.5vw;
}
.sidebar>.item.active{
    background-color: darkgray;
}

/*===Top Bar===*/
.topBar {

}

.userBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px 10px 0;
    margin-left: auto;
    margin-right: 0;
    width: 110px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*===Page Content===*/
.pageContent {
    width: 100%;
}

.pageHead {
    border-bottom: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHeader {
    text-align: center;
    padding: 5vh 0 5vh 0;
}

.pageBody {
    display: flex;
    justify-content: center;
}
/*===Form===*/
.form {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    max-height: 70px;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
}

.input > input {
    margin: 5px 0 0 0;
    height: 50px;
    min-width: 2%;
    max-width: 100%;
    font-size: 15px;
    /*align-self: flex-end;*/
    width: 100%;
    border: 0;
    border-bottom: 1px darkgray solid;


}
.fancy>.label>label{
    font-size: 15px;
    opacity: 0;
    position: relative;
}
.fancy>.label{
    height: 15px;
}
.select{
    min-height: 30px !important;
    /*max-height: 70px !important;*/
    border: 0 !important;
}
.select>.menu{
    border: 0 !important;
}

input:focus{
    outline: none;
}
/*Placeholder*/
input::-webkit-input-placeholder  {
    -webkit-transition: opacity 0.2s linear;
    color: black;
    font-size: 15px;
}
input:focus::-webkit-input-placeholder  {
    opacity: 0;
}