/*Type*/
@font-face {
    font-family: 'Gordita';
    src: url('fonts/hinted-GorditaRegular.ttf');
}

@font-face {
    font-family: 'Gordita';
    src: url('fonts/hinted-GorditaMedium.ttf');
}

@font-face {
    font-family: 'Gordita';
    src: url('fonts/hinted-GorditaBold.ttf');
}

@font-face {
    font-family: 'FaktProRVLRYMed';
    src: url('fonts/FaktProRVLRYMed.ttf');
}

/*===General===*/
body {
    margin: 0;
    font-family: "Gordita Regular", sans-serif;
}

/*Type*/
h1 {
    font-family: "Gordita Medium", sans-serif;
    color: #423f3f;
}

h5 {
    font-weight: lighter;
}

.link {
    cursor: pointer;
}

.sidebar > .link:hover {
    background-color: #f4f4f4;
}

.sidebar > .item.active {
    background-color: #fcfcfc;
}

/*===Side Bar===*/
.sidebar {
    position: fixed;
    height: 100%;
    background-color: #fff;
    width: 13.5vw;
    border-right: 1px #D4D4D4 solid;
}

.toggle {
    background-color: #dc412e;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 0 0 1.5vw;
    position: fixed;
    z-index: 2;
}

.sidebar > .main.header {
    margin-top: 16vh;
    /*padding: 0 0 1vh 1.5vw;*/
}

.sidebar > .main.header > h2 {
    margin: 0 0 2vh 0;
    border-bottom: 1px #f7f7f7 solid;
    padding: 0 0 2.5vh 1.5vw;
}

.sidebar > .item {
    padding: 2vh 0 2vh 1.5vw;
    color: #7e7e7e;
}

.sidebar > .item.header {
    padding: 1vh 0 1vh 1.5vw;
    text-transform: uppercase;
    font-family: FaktProRVLRYMed, sans-serif;
    font-size: 0.8em;
    color: black;
}

/*===Top Bar===*/
.topBar {

}

.userBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0.5vw 1vh 0;
    margin-left: auto;
    margin-right: 0;
    width: 110px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*===Page Content===*/
.pageContent {
    width: 100%;
}

.pageHead {
    border-bottom: 4px solid #f7f7f7;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 28.6vh;*/
    padding: 7.4vh 0 10.6vh 0;
}

.pageHeader {
    text-align: center;
    /*padding: 5vh 0 5vh 0;*/
}

.pageHeader > h1 {
    margin: 0 0 4.5vh 0;
    font-weight: lighter;
}

.pageHeader > h5 {
    margin: 0;
}

.pageBody {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

/*===Form===*/
.form {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    max-height: 70px;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 0;
}

.input > input {
    margin: 5px 0 0 0;
    height: 50px;
    min-width: 3%;
    max-width: 100%;
    font-size: 15px;
    /*align-self: flex-end;*/
    width: 100%;
    border: 0;
    border-bottom: 2px #f7f7f7 solid;
    font-family: "Gordita Regular", sans-serif;

}

.fancy > .label > label {
    opacity: 0;
    position: relative;
}
.input>.label>label{
    font-size: 15px;
}

.fancy > .label {
    height: 15px;
}

.select {
    min-height: 30px !important;
    border: 0 !important;
    border-bottom: 2px #f7f7f7 solid !important;
    border-radius: 0 !important;
}
.select:focus{
    border-bottom: black 1px solid !important;
}

.select > .menu {
    border: 0 !important;
    /*border-bottom: 1px #D4D4D4  solid;*/
}

.select > input {
    border-bottom: 1px #D4D4D4 solid !important;
}
.select>input.search{
    /*color: white !important;*/
    font-family: "Gordita Regular", sans-serif ;
    font-size: 15px;
}

input:focus {
    outline: none;
}

/*Placeholder*/
input::-webkit-input-placeholder {
    -webkit-transition: opacity 0.2s linear;
    color: black;
    font-size: 15px;
    font-family: "Gordita Regular", sans-serif !important;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}